<html>
    <head>
        <link rel="stylesheet" href="../public/css/add_style.css">
    </head>

    <body>
        {{> nav }}
        {{#with recipe}}
            <div class = 'center'>
                <h4> Edit Recipe</h4><br>
                <form action = "/update/{{_id}}" encType="multipart/form-data" method = "POST">
                    
                    <h5>Title:</h5>
                    <input type="text" name="title" id="title" class="txt" value={{title}}/>
                    <br>

                    <h5>Description:</h5>
                    <textarea name="description" id="description" class="txt" >{{description}}</textarea>
                    <br>

                    <h5>Select an image: </h5>
                    <input type="file" name="image" id="image" class="txt" placeholder={{image}}/>

                    <h5>Ingredients: </h5>
                    <div class = "ingredientList">
                        <div class = "ingredientDiv">
                            {{#each ingredients}}
                            <textarea name = "ingredients" class ="txt" >{{this}}</textarea><br>
                            {{/each}}
                        </div>
                    </div>

                    <button type="button" class="btn" id="addIngredientsBtn">+ Ingredient</button>
                    <br><br><br>

                    {{!-- PREPARATION --}}
                    <h5>Preparation:</h5>
                    <div class = "preparationList">
                        <div class = "preparationDiv">
                            {{#each preparation}}
                            <textarea name = "preparation" class ="txt" >{{this}}</textarea><br>
                            {{/each}}
                        </div>
                    </div>

                    <button type = "button" class = "btn" id = "addPrepBtn" >+ Preparation</button>
                    <br><br><br><br><br>

                    {{!-- SUBMIT BUTTON --}}
                    <input type = "submit" id = "post" value = "Save">
                </form>
                
                <script>
                    let addIngredientsBtn = document.getElementById('addIngredientsBtn');
                    let ingredientList = document.querySelector('.ingredientList');
                    let ingredientDiv = document.querySelectorAll('.ingredientDiv')[0];
                    addIngredientsBtn.addEventListener('click', function()
                    {
                        let newIngredients = ingredientDiv.cloneNode(true);
                        let input = newIngredients.getElementsByTagName('textarea')[0];
                        input.value = '';
                        ingredientList.appendChild(newIngredients);
                    })
                    let addPrepBtn = document.getElementById('addPrepBtn');
                    let preparationList = document.querySelector('.preparationList');
                    let preparationDiv = document.querySelectorAll('.preparationDiv')[0];
                    addPrepBtn.addEventListener('click', function()
                    {
                        let newPreparation = preparationDiv.cloneNode(true);
                        let inputP = newPreparation.getElementsByTagName('textarea')[0];
                        inputP.value = '';
                        preparationList.appendChild(newPreparation);
                    })
            </script>
            </div>
        {{/with}}
    </body>
</html>