<html>
    <head>
        <title>Flavours 101 </title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="https://kit.fontawesome.com/38d688374b.js" crossorigin="anonymous"></script>

    </head>

    <body>
        {{> nav }}
        <section class="start" id="home" >
            <div class="recipe"><br>
                <h1> Flavours <span>101</span> </h1>
                <h2 style="margin: 1; color: darkgray; font-size: 18;"> Can't decide? Try "<a href = "/random-recipe">Surprise Me</a>"" </h2>
            </div>
            <form action = "/search" method = "post">
                <input type ="search" name = "searchTerm" class = "form-control" placeholder ="Search..." aria-label = "Search">
            </form>
            <br><br><br>
            
            {{!-- Should be in main --}}
            <p>TO DELETE</p>
            <a href = "/random-recipe">Surprise Me</a>
            <br>
            <a href = "/submit-recipe">Submit Post</a>
            <br><br>
            <p>TO DELETE (END)</p>
            {{!-- END --}}

            <div class="posts">
                <div id="chicken">
                    {{#each recipes}}
                        <a href="/recipe/{{this._id}}"><img class="rec" src="../uploads/{{this.image}}"  /></a>
                        <a href="/recipe/{{this._id}}"  class="cap"><p>{{this.title}}<br> by: kewpie_mayo</p></a>

                    {{ else }}
                    <h1>No Posts Yet</h1>
                    {{/each}}
                </div>
            </div>
        </section>    
    </body>
</html>