<html>
    <head>
        <title>My Recipes</title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="https://kit.fontawesome.com/38d688374b.js" crossorigin="anonymous"></script>  
    </head>

    <body>
        {{> nav }}
        <section class="start" id="home">
            <div class="posts">
                <div id="chicken">
                    {{#each recipes}}
                        <a href="/recipe/{{this._id}}"><img class="rec" src="../public/uploads/{{this.image}}"  /></a>
                        <a href="/recipe/{{this._id}}"  class="cap"><p>{{this.title}}<br> by:{{this.author}}</p></a>
                    {{ else }}
                    <h1>No Posts Yet</h1>
                    {{/each}}
                </div>
            </div>
        </section>
    </body>
</html>