<html>
    <head>
        <link rel = "stylesheet" type = "text/css" media="all" href = "../public/css/style_post.css"/>
        <script src="https://kit.fontawesome.com/38d688374b.js" crossorigin="anonymous"></script>
        <link rel = "stylesheet" type = "text/css" media="all" href = "../public/css/comment.css"/>
    </head>
    
    <body>
        {{> nav }}
        {{#with recipe}}
            <div class = "post" style="background-color: white;">
                <br>
                <h1 class = "name">{{title}}</h1>
                <br>
                
                <h3 class = "author">By: <a href = "/profile/{{author}}">{{author}}</a><br><br></h3>
                
                <div class = "button_cont">

                    <form action = "/like/{{_id}}" method = "POST">
                        <input type = "submit" class = "like_b" value = "ðŸ‘ Like"/>   
                    </form>
                    <br>

                    <h2>Liked by: <span id = "count">{{likes}}</span></h2>
                    <h2>Average Rating: <span id = "count">{{average}}</span></h2>
                </div>
        
                <br>
                <br>
                
                <div class = "c_i">
                    <img class = "image" src = "../public/uploads/{{image}}" width = "530" height = "350"/>
                    <br>
                </div>
                
                
                <p class = "desc">{{{parseMarkdown description}}}</p>

                <hr>
                <br>
                
                <h1 class = "h_ingredients">Ingredients</h1>
                <ul class = "ingredients">
                    {{#each ingredients}}
                        <li>
                            {{{parseMarkdown this}}}
                        </li>
                    {{/each}}
                </ul>

                <hr>
                <br>

                <h1 class = "h_prep">Preparation</h1>
                
                <ol class = "prep">
                    {{#each preparation}}
                        <li>
                            {{{parseMarkdown this}}}
                        </li>
                    {{/each}}
                </ol>
                <hr>
            </div>
            <br><br>

            {{!-- COMMENTS --}}
            <div id="page">
                <br><br>
                <h2 id="rate">Comments:</h2><br><br>
                {{#each comments}}
                   <div id="new">
                        <p id="my_new_cmt">{{this.text}}  (by: {{ this.user_id.username }}) Liked by: {{this.likes}}</p>

                        <div id="buttons">
                            {{#if (isEqual ../../session._id this.user_id._id)}} 
                            <form action = "/{{this.recipe}}/delete-comment" method = "POST">
                                <input type='hidden' name= "comment" id="cmt-id" value='{{this._id}}'>
                                <input type = "submit" id="delete" class = 'deleteBtn' value = "DELETE"/>
                            </form> 
                            <br>
                            <form action = "/{{this.recipe}}/edit" method = "POST">
                                <input type='hidden' name= "id" id="cmt-id" value='{{this._id}}'>
                                <input type = "submit" id="edit" class = 'updateBtn' value = "UPDATE"/>
                            </form>
                            <br>
                        {{/if}}
                        {{!-- Like Button --}}
                        <form action = "/{{this.recipe}}/like-comment" method = "POST">
                            <input type='hidden' name= "id" id="cmt-id" value='{{this._id}}'>
                            <input type = "submit" id="like" class = 'likeBtn' value = "LIKE"/>
                        </form>

                        </div>
                        
                        <p id = "my_new_cmt">Replies: </p>
                        {{#each replies}}
                            <p id="my_new_cmt">{{this.text}} (by: {{ this.user_id.username }}) Liked by: {{this.likes}}</p>
                            {{#if (isEqual ../../../session._id this.user_id._id)}} 
                                <form action = "/{{this.recipe}}/delete-comment" method = "POST">
                                    <input type='hidden' name= "comment" id="cmt-id" value='{{this._id}}'>
                                    <input type = "submit" id="delete" class = 'deleteBtn' value = "DELETE"/>
                                </form> 
                                <br>
                                <form action = "/{{this.recipe}}/edit" method = "POST">
                                    <input type='hidden' name= "id" id="cmt-id" value='{{this._id}}'>
                                    <input type = "submit" id="edit" class = 'updateBtn' value = "UPDATE"/>
                                </form>
                                <br>
                            {{/if}}
                            {{!-- Like Button --}}
                            <form action = "/{{this.recipe}}/like-comment" method = "POST">
                                <input type='hidden' name= "id" id="cmt-id" value='{{this._id}}'>
                                <input type = "submit" id="like" class = 'likeBtn' value = "LIKE"/>
                            </form>
                            <br>
                        {{/each}}


                        
                        <form action="/comment/{{this.recipe}}" method="POST">
                            <input type="hidden" name="reply_to" id="reply_to" value="{{this._id}}">
                            <textarea id="comments" name = "comment" placeholder="Reply..." rows="5" cols="80" name="comment" maxlength="500" required></textarea>
                            <br><br>
                            <input id="btn_cmt" type = "submit" value = "Post Reply"/>
                        </form>
                        
                    </div>
                
                {{else}}
                    <p id="comment">No Comments</p>
                {{/each}}
            
                <div>
                    <form action = "/comment/{{_id}}" method = "POST">
                        <br><br>
                        <textarea id="comments" name = "comment" placeholder="Comment about this recipe..." rows="5" cols="80" name="comment" maxlength="500" required></textarea>
                        <br><br>
                        {{!-- <button id="btn_cmt" onclick="post_cmt(this);">Post Comment</button> --}}
                        <input id="btn_cmt" type = "submit" value = "Post Comment"/>
                    </form>

                    <br><br><br>
                    {{!-- RATE --}}
                    <h2 id="rate">Rate this recipe by taste and difficulty:</h2>
                    <br>
                    <div class="stars">
                        <form action = "/rate/{{_id}}" method="POST" class = stars>
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="5 stars">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="4 stars">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="3 stars">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="2 stars">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="1 star">1 star</label>
                            <br><br>
                            <button id="rate_btn" type = "submit" value = "Rate">Rate</button>
                        </form>
                        <br>
                        <form action = "/unrate/{{_id}}" method="POST" class = stars>
                            <button id="del_rate_btn" type="submit">Delete Rate</button>
                        </form>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br>
        {{/with}}
    </body>
</html>